---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, master-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

carousels:
    - images:
        - image: /img/carousels/massnz.jpeg
        - image: /img/carousels/LASS_2021_full_2.png
        - image: /img/carousels/a_03.jpeg
---

{% include carousel.html height="50" unit="%" duration="7" number="1" %}

<div class="jumbotron">
    <p>
        The Laboratory for Advanced System Software (LASS) investigates systems issues for distributed systems ranging
        from large server clusters to networks of small sensors. Our past and current research has focused on issues in
        operating systems, distributed systems, networking, mobile systems, web and multimedia. We build prototype
        systems and understand them using analysis and experimentation.
    </p>

    <p>
        LASS Alums are an exceptionally accomplished group. Two-thirds of our Ph.D. and Post-doc alums have gone to
        tenure-track faculty positions in academia. Four alums have co-founded startup companies. The rest, including
        two dozen MS alums, have gone on to successful careers in industry. We are incredibly proud of their
        accomplishments.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<!--<section>-->
<!--    <h2>Research</h2>-->
<!--    <div class="card-columns">-->
<!--        {% comment %}-->
<!--        Sort the projects by date, putting those without dates last-->
<!--        {% endcomment %}-->
<!--        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}-->
<!--        {% assign projects_by_date = projects_by_date | reverse %}-->
<!--        {% for p in projects_by_date %}-->
<!--            {% if p.status != "inactive" %}-->
<!--                {% include project-card.html project=p %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</section>-->

<!--<div id="people">-->
<!--    <h2>People</h2>-->
<!--    {% for role-table in page.role-tables %}-->
<!--        <section class="people row justify-content-between">-->
<!--            {% for role-column in role-table %}-->
<!--                <div class="col-md-{{ role-column.width }}">-->
<!--                    {% for role in role-column.roles %}-->
<!--                        {% include role-people.html role=role image=role-column.image %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </section>-->
<!--    {% endfor %}-->
<!--</div>-->
